<!doctype html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='vendor/fonts/circular-std/style.css')}}" >
        <link rel="stylesheet" href="{{url_for('static', filename='libs/css/style.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='vendor/fonts/fontawesome/css/fontawesome-all.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='vendor/charts/chartist-bundle/chartist.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='vendor/charts/morris-bundle/morris.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='vendor/charts/c3charts/c3.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='vendor/fonts/flag-icon-css/flag-icon.min.css')}}">


        <title>RMS - Kitchen</title>

        <meta http-equiv="Refresh" content="5">

    </head>

    <body>
        <!-- ============================================================== -->
        <!-- main wrapper -->
        <!-- ============================================================== -->
        <div class="dashboard-main-wrapper">
            <!-- ============================================================== -->
            <!-- navbar -->
            <!-- ============================================================== -->
            <div class="dashboard-header">
                <nav class="navbar navbar-expand-lg bg-white fixed-top">
                    <a class="navbar-brand" href="/">RMS</a>
                    
                </nav>
            </div>
            <!-- ============================================================== -->
            <!-- end navbar -->
            <!-- ============================================================== -->

            <!-- ============================================================== -->
            <!-- wrapper  -->
            <!-- ============================================================== -->
            <div >

                <div class="dashboard-ecommerce">
                    <div class="container-fluid dashboard-content ">
                        <!-- ============================================================== -->
                        <!-- pageheader  -->
                        <!-- ============================================================== -->
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="page-header">
                                    <h2 class="pageheader-title">Kitchen Dashboard</h2>
                                    <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>

                                    <div class="page-breadcrumb">
                                        <nav aria-label="breadcrumb">
                                            <ol class="breadcrumb">
                                                <li class="breadcrumb-item" aria-current="page"><a href="{{ url_for('manager_dashboard')}}" class="breadcrumb-link">Dashboard</a></li>
                                            </ol>
                                        </nav>
                                    </div>


                                </div>
                            </div>
                        </div>
                        <!-- ============================================================== -->
                        <!-- end pageheader  -->
                        <!-- ============================================================== -->
                        <div class="ecommerce-widget">
                              <div class="row">
                                    <!-- ============================================================== -->
                                    <!-- bordered table -->
                                    <!-- ============================================================== -->
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="card">
                                            <h5 class="card-header">Order Queue</h5>
                                            <div class="card-body">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col" width="10%">Order #</th>
                                                            <th scope="col" width="80%">Order Dishes</th>
                                                            <th scope="col" width="10%">Date-Time</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for k in data %}
                                                        <tr>
                                                            <th scope="row"><font size="7">{{k.OrderDetails['order_id']}}</font></th>
                                                            <td>
                                                                <table class="table table-bordered">
                                                                    <thead>
                                                                        <tr>
                                                                            <th scope="col">ID#</th>
                                                                            <th scope="col">Name</th>
                                                                            <th scope="col">Quantity</th>
                                                                            <th scope="col">Note</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        {% for dish in k.DishList %}

                                                                        <tr>
                                                                            <th scope="row" width="5%">{{dish['dish_id']}}</th>
                                                                            <td width="30%">{{dish['dish_name']}}</td>
                                                                            <td width="5%">{{dish['dish_id']}}</td>
                                                                            <td width="60%">{{dish['order_comment']}}</td>
                                                                        </tr>
                                                                        {% endfor %}

                                                                    </tbody>
                                                                </table>                                                           
                                                            
                                                            </td>
                                                            <td>{{k.OrderDetails['order_date']}}</td>

                                                        </tr>

                                                        {% endfor %}

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ============================================================== -->
                                    <!-- end bordered table -->
                                    <!-- ============================================================== -->
                                    <!-- ============================================================== -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- footer -->
                <!-- ============================================================== -->
                <div class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                 Copyright © 2020 || Developed by <a href="https://secretdevbd.com" target="_blank">Secret Developers</a>. Designed by <a href="https://colorlib.com/wp/" target="_blank">Colorlib</a>.
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <!--<div class="text-md-right footer-links d-none d-sm-block">
                                    <a href="javascript: void(0);">About</a>
                                    <a href="javascript: void(0);">Support</a>
                                    <a href="javascript: void(0);">Contact Us</a>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end wrapper  -->
                <!-- ============================================================== -->
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end main wrapper  -->
        <!-- ============================================================== -->



        <!-- Optional JavaScript -->
        <!-- jquery 3.3.1 -->
        <script type="text/javascript" src="{{ url_for('static', filename='vendor/jquery/jquery-3.3.1.min.js') }}"></script>
        <!-- bootstap bundle js -->
        <script type="text/javascript" src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.js') }}"></script>
        <!-- slimscroll js -->
        <script type="text/javascript" src="{{ url_for('static', filename='vendor/slimscroll/jquery.slimscroll.js') }}"></script>
        <!-- main js -->
        <script type="text/javascript" src="{{ url_for('static', filename='libs/js/main-js.js') }}"></script>
        <!-- chart chartist js -->
        <script type="text/javascript" src="{{ url_for('static', filename='vendor/charts/chartist-bundle/chartist.min.js') }}"></script>
        <!-- sparkline js -->
        <script type="text/javascript" src="{{ url_for('static', filename='vendor/charts/sparkline/jquery.sparkline.js') }}"></script>
        <!-- morris js -->
        <script type="text/javascript" src="{{ url_for('static', filename='vendor/charts/morris-bundle/raphael.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='vendor/charts/morris-bundle/morris.js') }}"></script>
        <!-- chart c3 js -->
        <script type="text/javascript" src="{{ url_for('static', filename='vendor/charts/c3charts/c3.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='vendor/charts/c3charts/d3-5.4.0.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='vendor/charts/c3charts/C3chartjs.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='libs/js/dashboard-ecommerce.js') }}"></script>

        <!-- custom JS -->

    </body>

</html> 


