{% extends 'base_manager.html' %}

{% block title %}
    <title>RMS - Manager</title>
{% endblock %}

{% block page_header %}

    <h2 class="pageheader-title">Manager Dashboard</h2>

    <div class="page-breadcrumb">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page"><a href="{{ url_for('manager_dashboard')}}" class="breadcrumb-link">Add Table</a></li>
            </ol>
        </nav>
    </div>

{% endblock %}

{% block content %}

    {% if msg == 'success'  %}
            <div class="card-body border-top">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Sucess!</strong> Table added.
                    <a href="#" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </a>
                </div>
            </div>
        {% elif msg == 'failed' %}
                <div class="card-body border-top">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Something went wrong!</strong> Try Aganin!!!
                        <a href="#" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </a>
                    </div>
                </div>

        {% endif %}

    <row>
    <div class="col-xl-12 col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="card">
            <h5 class="card-header">Add Table</h5>
            <div class="card-body">
                <form action="{{url_for('manager_add_table')}}" id="basicform" data-parsley-validate="" method="post">
                    <div class="form-group">
                        <label for="TableNo">Table No.</label>
                        <input id="TableNo" type="text" name="TableNo" data-parsley-trigger="change" required="" placeholder="Enter menu name" autocomplete="off" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="NumberChair" class="col-form-label">Number of Seat</label>
                        <input id="NumberChair" type="number" name="NumberChair" class="form-control" placeholder="Number of Seat">
                    </div>


                    <div class="row">
                        <div class="col-sm-6 pl-0">
                            <p class="text-right">
                                <button type="submit" class="btn btn-space btn-primary">Submit</button>
                                <button class="btn btn-space btn-secondary">Cancel</button>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</row>

{% endblock %}
