{% extends 'base_manager.html' %}

{% block title %}
    <title>RMS - Manager</title>
{% endblock %}

{% block page_header %}

    <h2 class="pageheader-title">Manager Dashboard</h2>

    <div class="page-breadcrumb">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page"><a href="{{ url_for('manager_dashboard')}}" class="breadcrumb-link">Add Employee</a></li>
            </ol>
        </nav>
    </div>

{% endblock %}



{% block content %}

    {% if msg == 'success'  %}
            <div class="card-body border-top">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Sucess!</strong> Employee has been added.
                    <a href="#" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </a>
                </div>
            </div>
    {% elif msg == 'failed' %}
            <div class="card-body border-top">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Something went wrong!</strong> Try Aganin!!!
                    <a href="#" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </a>
                </div>
            </div>
    {% elif msg == 'user_exist' %}
            <div class="card-body border-top">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>User Existed!</strong> User With same Email existed!!
                        <a href="#" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </a>
                    </div>
                </div>

    {% endif %}




    <row>
        <div class="col-xl-12 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="card">
                <h5 class="card-header">Add Employee</h5>
                <div class="card-body">
                    <form action="{{url_for('manager_add_emp_form')}}" id="AddEmployeeForm" data-parsley-validate="" method="post">

                        <div class="form-group">
                            <label for="EmployeeName">Employee Name</label>
                            <input id="EmployeeName" type="text" name="EmployeeName" data-parsley-trigger="change" required="" placeholder="Enter employee name" autocomplete="off" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="EmployeePhoneNumber">Phone Number</label>
                            <input id="EmployeePhoneNumber" type="tel" name="EmployeePhoneNumber" data-parsley-trigger="change" required="" placeholder="Enter phone number" autocomplete="off" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="EmployeeEmail">Email</label>
                            <input id="EmployeeEmail" type="email" name="EmployeeEmail" data-parsley-trigger="change" required="" placeholder="Enter email" autocomplete="off" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="EmployeeAddress">Employee Address</label>
                            <input id="EmployeeAddress" type="text" name="EmployeeAddress" data-parsley-trigger="change"  placeholder="Enter address" autocomplete="off" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="EmployeePass01">Password</label>
                            <input id="EmployeePass01" type="password" placeholder="Password" required="" class="form-control" name="EmployeePass01">
                        </div>
                        <div class="form-group">
                            <label for="EmployeePass02">Repeat Password</label>
                            <input id="EmployeePass02" data-parsley-equalto="#EmployeePass01" type="password" required="" placeholder="Re-enter Password" class="form-control" name="EmployeePass02">
                        </div>
                        <div class="row">
                            <div class="col-sm-6 pb-2 pb-sm-4 pb-lg-0 pr-0">

                            </div>
                            <div class="col-sm-6 pl-0">
                                <p class="text-right">
                                    <button type="submit" class="btn btn-space btn-primary">Submit</button>
                                    <button class="btn btn-space btn-secondary">Cancel</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </row>

{% endblock %}
