{% extends 'base_manager.html' %}

{% block title %}
    <title>RMS - Manager</title>
{% endblock %}

{% block page_header %}

    <h2 class="pageheader-title">Manager Dashboard</h2>

    <div class="page-breadcrumb">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page"><a href="{{ url_for('manager_dashboard')}}" class="breadcrumb-link">Add Dish</a></li>
            </ol>
        </nav>
    </div>

{% endblock %}

{% block content %}

    {% if msg == 'True'  %}
        <div class="card-body border-top">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Sucess!</strong> Product added.
                <a href="#" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </a>
            </div>
        </div>
    {% elif msg == 'False' %}
            <div class="card-body border-top">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Something went wrong!</strong> Try Aganin!!!
                    <a href="#" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </a>
                </div>
            </div>

    {% endif %}

    <row>
        <div class="col-xl-12 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="card">
                <h5 class="card-header">Add Product</h5>
                <div class="card-body">
                    <form action="{{url_for('manager_add_product')}}" id="basicform" data-parsley-validate="" method="post" enctype=multipart/form-data>
                        <div class="form-group">
                            <label for="ProductName">Product Name</label>
                            <input id="ProductName" type="text" name="ProductName" data-parsley-trigger="change" required="" placeholder="Product name" autocomplete="off" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="ProductDes">Product Desciption</label>
                            <input id="ProductDes" type="text" name="ProductDes" data-parsley-trigger="change" required="" placeholder="Product Desciption" autocomplete="off" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="ProductQuantity" class="col-form-label">Quantity</label>
                            <input id="ProductQuantity" type="number" class="form-control" placeholder="Quantity" name="ProductQuantity">
                        </div>

                        <div class="custom-file mb-3">
                            <input type="file" class="custom-file-input" id="ProductPic" name="ProductPic">
                            <label class="custom-file-label" for="ProductPic">Add Picture</label>
                        </div>

                        <div class="form-group">
                            <label for="ProductCategory">Choose Category:</label>

                            <select id="ProductCategory" name="ProductCategory" class="form-control">

                              <option value="Vegitable">Vegitable</option>
                              <option value="Vegitable">kitchen</option>
                              <option value="Vegitable">Others</option>

                            </select>

                        </div>


                        <div class="row">
                            <div class="col-sm-6 pl-0">
                                <p class="text-right">
                                    <button type="submit" class="btn btn-space btn-primary">Submit</button>
                                    <button class="btn btn-space btn-secondary">Cancel</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </row>

{% endblock %}

